{% extends "_base.html" %}
{% block title %}
User Editor!
{% endblock %}
{% block content %}


<h1>Edit a User</h1>
<form action="{{ url_for('users.update_or_destroy',id=id, next = request.args.get('next')) }}" method="POST">
  <input type="hidden" name="_method" value="PUT">
  {{ form.csrf_token }}

  <div class="form-group">
    {{form.full_name.label}} {{ form.full_name (class= 'form-control')}}
  </div>

  <div class="form-group">
    {{form.email.label}} {{ form.email (class= 'form-control')}}
  </div>

  <div class="form-group">
    {{form.username.label}} {{ form.username (class= 'form-control')}}
  </div>

  <div class="form-group">
    {{form.password.label}} {{ form.password (class= 'form-control')}}
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock %}