{% extends "_base.html" %}
{% block title %}
All the users!
{% endblock %}
{% block content %}
<link rel="stylesheet" href="">
<h1>User List!</h1>

<table class="table-striped table-bordered" width=100%>
    <tr>
        <th>ID</th>
        <th>Full Name</th>
        <th>Email</th>
        <th>User Name</th>
        <th>Password</th>
        <th>Profile Pic</th>
        <th>Private?</th>
        <th>Edit!</th>
        <th>DELETE!</th>
    </tr>
    {% for user in users %}
    <tr>
        <td>{{user.id}}</td>
        <td>{{user.full_name}}</td>
        <td>{{user.email}}</td>
        <td>{{user.username}}</td>
        <td>{{user.password}}</td>
        <td>{{user.profile_picture_name}}</td>
        <td>
            <a href="{{ url_for('users.change_privacy', id = user.id) }}" class="btn btn-primary">{{user.is_private}}</a></td>
        <td>
            <a href="{{ url_for('users.edit', id = user.id) }}" class="btn btn-primary">Edit</a>
        </td>
        <td>
            <a href="{{ url_for('users.delete', id = user.id) }}" class="btn btn-primary">DELETE
            </a>
        </td>
    </tr>
    {% endfor %}
    </th>

</table>
{% endblock %}