{% extends "_base.html" %}
{% block title %}
User Sign-up
{% endblock %}
{% block content %}

{% if form.errors.items() %}
{% for key, value in form.errors.items() %}
<div class="alert alert-danger">
  {{ value[0] }}
</div>
{% endfor %}
{% endif %}

<p>Please fill your information:</p>

<form action="{{ url_for('users.create') }}" method="POST">
  {{ form.csrf_token }}

  <div class="form-group">
    {{form.full_name.label}} {{ form.full_name (class= 'form-control')}}
  </div>

  <div class="form-group">
    {{form.email.label}} {{ form.email (class= 'form-control')}}
  </div>

  <div class="form-group">
    {{form.username.label}} {{ form.username (class= 'form-control')}}
  </div>

  <div class="form-group">
    {{form.password.label}} {{ form.password (class= 'form-control')}}
  </div>

  {{ form.submit (class= 'btn btn-primary')}}
  <br>
  OR
  <br>
  <a href="{{ url_for('sessions.google_new') }}" class="btn btn-primary">Sign up with google!</a>


</form>
{% endblock %}