{% extends "_base.html" %}
{% block title %}
User Profile!
{% endblock %}

{% block custom_head %}
<link rel="stylesheet" href="./../../../static/css/lightbox.css">
{% endblock %}

{% block content %}
<hr>
<h1>{{User.query.get(id).username}}'s Profile</h1>
<hr>
<img width=50% src="{{S3_LOCATION}}{{User.query.get(id).profile_picture_name}}" alt="profile picture" class="img-thumbnail">
<hr>
{% if id==current_user.id %}
<h2>Welcome to your profile, {{current_user.full_name}}!</h2>


{% elif id != current_user.id %}
<h2>Welcome to {{User.query.get(id).full_name}}'s profile!</h2>
{% endif %}





<div class="container">
    <hr>
    <h2 style="clear: both;">{{User.query.get(id).username}}'s Gallery!</h2>
    {% if id==current_user.id %}
    <a href="{{ url_for('images.upload', id = current_user.id, gallery=True) }}" class="btn btn-primary">Add images to
        your gallery</a>
    <a href="{{ url_for('images.gallery_edit', id = current_user.id) }}" class="btn btn-primary">Edit your gallery</a>
    {% endif %}

    <div class="image-row">
        <div class="image-set">
            {% for image in User.query.get(id).images %}
            <div style="display: inline-block; margin:5px">
                <a class="image-link" href="{{S3_LOCATION}}{{image.image_name}}" data-lightbox="image-set" data-title="{{image.image_caption|default('')}}">
                    <img style="margin-bottom:5px" class="gallery-image" src="{{S3_LOCATION}}{{image.image_name}}"
                        width=200px height=200px>
                </a>
                {% if id != current_user.id %}
                <br>
                <a href="{{ url_for('donations.create', image_id = image.id) }}" class="btn btn-primary">Donate</a>
                {% endif %}
            </div>

            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}

{% block custom_js %}
<script src="./../../../static/js/lightbox.js"></script>
{% endblock %}