{% extends "_base.html" %}
{% block title %}
One user!
{% endblock %}
{% block content %}
<h1>YOUR SELECTED USER!</h1>
<table class="table-striped table-bordered" width=100% style="text-align: center; table-layout:fixed; word-wrap:break-word">
    <tr>
        <th style="text-align: center">ID</th>
        <th style="text-align: center">Full Name</th>
        <th style="text-align: center">Email</th>
        <th style="text-align: center">User Name</th>
        <th style="text-align: center">Password</th>
        <th style="text-align: center">Edit!</th>
        <th style="text-align: center">DELETE!</th>
    </tr>
    <tr>
        <td>{{user.id}}</td>
        <td>{{user.full_name}}</td>
        <td>{{user.email}}</td>
        <td>{{user.username}}</td>
        <td>{{user.password}}</td>
        <td>
            <form action="{{ url_for('users.update_or_destroy',id=user.id) }}" method="GET">
                <input type="hidden" name="_method" value="PUT">
                <button type="submit" class="btn btn-primary">Edit</button>
            </form>
        </td>
        <td>
            <form action="{{ url_for('users.update_or_destroy',id=user.id) }}" method="GET">
                <input type="hidden" name="_method" value="DELETE">
                <button type="submit" class="btn btn-primary">DELETE</button>
            </form>
        </td>
    </tr>
    </th>

</table>
{% endblock %}