{% extends "_base.html" %}
{% block title %}
One user!
{% endblock %}
{% block content %}
<h1>YOUR SELECTED USER!</h1>
<table class="table-striped table-bordered" width=100%>
    <tr>
        <th>ID</th>
        <th>Full Name</th>
        <th>Email</th>
        <th>User Name</th>
        <th>Password</th>
        <th>Profile Pic</th>
        <th>Edit!</th>
        <th>DELETE!</th>
        <th>Private?</th>
    </tr>
    <tr>
        <td>{{user.id}}</td>
        <td>{{user.full_name}}</td>
        <td>{{user.email}}</td>
        <td>{{user.username}}</td>
        <td>{{user.password}}</td>
        <td>{{user.profile_picture_name}}</td>
        <td>
            <a href="{{ url_for('users.edit', id = user.id) }}" class="btn btn-primary">Edit</a>

        </td>
        <td>
            <a href="{{ url_for('users.delete', id = user.id) }}" class="btn btn-primary">DELETE
            </a>
        </td>
        <td>{{user.is_private}}</td>
    </tr>
    </th>

</table>
{% endblock %}