 html,body{
    height: 100%;
}
 .container{
    height: 100%;
    align-content: center;
 }
 table {
    text-align: center;
    table-layout:fixed;
    word-wrap:break-word;
 }

 th {
    text-align: center
 }

 .image_outer_container{
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 50%;
    position: relative;
 }

 .image_inner_container{
    border-radius: 50%;
    padding: 5px;
    background: #833ab4; 
    background: -webkit-linear-gradient(to bottom, #fcb045, #fd1d1d, #833ab4); 
    background: linear-gradient(to bottom, #fcb045, #fd1d1d, #833ab4);
 }
 .image_inner_container img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 5px solid white;
 }
