{% extends "_base.html" %}
{% block title %}
All the images!
{% endblock %}
{% block content %}
<link rel="stylesheet" href="">
<h1>Image List!</h1>

<table class="table-striped table-bordered" width=100%>
    <tr>
        <th>ID</th>
        <th>Image Name</th>
        <th>User ID</th>
        <th style="width: 210px;">Image</th>
        <th>Caption</th>
        <th>Edit Caption</th>
        <th>DELETE!</th>
    </tr>
    {% for image in images %}
    <tr>
        <td>{{image.id}}</td>
        <td>{{image.image_name}}</td>
        <td>{{image.user_id}}</td>
        <td><img src="{{S3_LOCATION}}{{image.image_name}}" alt="image" width="200px"></td>
        <td>{{image.image_caption}}</td>
        <td>
            <a href="{{ url_for('images.edit', id = image.id) }}" class="btn btn-primary">Edit</a>
        </td>
        <td>
            <a href="{{ url_for('images.delete', id = image.id) }}" class="btn btn-primary">DELETE
            </a>
        </td>
    </tr>
    {% endfor %}
    </th>

</table>
{% endblock %}