 html,body{
    height: 100%;
    line-height: 1.4em;
    box-sizing: border-box;
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    text-align: center;
    font-family: 'Times New Roman', Times, serif

}
 .container{
    margin: inherit
 }
 table {
    text-align: center;
    table-layout:fixed;
    word-wrap:break-word;
 }

 th {
    text-align: center
 }

 .image_outer_container{
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 50%;
    position: relative;
 }

 .image_inner_container{
    border-radius: 50%;
    padding: 5px;
    background: #833ab4; 
    background: -webkit-linear-gradient(to bottom, #fcb045, #fd1d1d, #833ab4); 
    background: linear-gradient(to bottom, #fcb045, #fd1d1d, #833ab4);
 }
 .image_inner_container img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 2px solid white;
 }

#logo {
  width: 7%;
}


.checkout {
  text-align: left;
}

.checkout section {
  margin: 0;
  padding: 0;
  
}

@media (min-width: 641px) {
  .checkout section {
    padding: 30px 0;
  }
}

@media (min-width: 1025px) {
  .checkout section {
    padding: 10px 0;
  }
}

.checkout.dismiss {
  -webkit-animation: fadeOutDown 250ms 1 normal cubic-bezier(0.215, 0.61, 0.355, 1) both 0s;
  -moz-animation: fadeOutDown 250ms 1 normal cubic-bezier(0.215, 0.61, 0.355, 1) both 0s;
  animation: fadeOutDown 250ms 1 normal cubic-bezier(0.215, 0.61, 0.355, 1) both 0s;
}

.checkout h1,
.checkout p,
.checkout section,
.checkout .button {
  animation: none;
}

.checkout h1 {
  -webkit-animation-delay: 200ms;
  -moz-animation-delay: 200ms;
  animation-delay: 200ms;
}

.checkout header p {
  -webkit-animation-delay: 300ms;
  -moz-animation-delay: 300ms;
  animation-delay: 300ms;
}

.checkout section {
  -webkit-animation-delay: 450ms;
  -moz-animation-delay: 450ms;
  animation-delay: 450ms;
  -webkit-animation-duration: 550ms;
  -moz-animation-duration: 550ms;
  animation-duration: 550ms;
}

.checkout .button {
  -webkit-animation-delay: 650ms;
  -moz-animation-delay: 650ms;
  animation-delay: 650ms;
  -webkit-animation-duration: 700ms;
  -moz-animation-duration: 700ms;
  animation-duration: 700ms;
}

.bt-drop-in-wrapper {
  min-height: 200px;
  position: relative;
  z-index: 1;
}

.bt-drop-in-placeholder {
  background-color: #f9f9f9;
  height: 187px;
  width: 100%;
  text-align: center;
  color: #707073;
  border: dashed 1px #DEE2E5;
  border-bottom: none;
  display: table;
}

.bt-drop-in-placeholder:before {
  content: "(Drop-in)";
  color: #707073;
  display: table-cell;
  vertical-align: middle;
}

.button {
  -webkit-transition: background-color 140ms cubic-bezier(0.445, 0.05, 0.55, 0.95), border-color 140ms cubic-bezier(0.445, 0.05, 0.55, 0.95), color 140ms cubic-bezier(0.445, 0.05, 0.55, 0.95), opacity 140ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  -moz-transition: background-color 140ms cubic-bezier(0.445, 0.05, 0.55, 0.95), border-color 140ms cubic-bezier(0.445, 0.05, 0.55, 0.95), color 140ms cubic-bezier(0.445, 0.05, 0.55, 0.95), opacity 140ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  -ms-transition: background-color 140ms cubic-bezier(0.445, 0.05, 0.55, 0.95), border-color 140ms cubic-bezier(0.445, 0.05, 0.55, 0.95), color 140ms cubic-bezier(0.445, 0.05, 0.55, 0.95), opacity 140ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  -o-transition: background-color 140ms cubic-bezier(0.445, 0.05, 0.55, 0.95), border-color 140ms cubic-bezier(0.445, 0.05, 0.55, 0.95), color 140ms cubic-bezier(0.445, 0.05, 0.55, 0.95), opacity 140ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: background-color 140ms cubic-bezier(0.445, 0.05, 0.55, 0.95), border-color 140ms cubic-bezier(0.445, 0.05, 0.55, 0.95), color 140ms cubic-bezier(0.445, 0.05, 0.55, 0.95), opacity 140ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  background-color: #5CD493;
  border: none;
  border-radius: 2px;
  display: inline-block;
  color: #fff;
  font-family: "BT Mono bold", "Helvetica Neue", Helvetica, Sans-serif;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  opacity: 1;
  outline: none;
  padding: 0;
  position: relative;
  text-decoration: none;
  text-align: center;
  width: 100%;
}

@media (min-width: 641px) {
  .button {
    width: auto;
  }
}

.button.full {
  width: 100%;
}

.button:hover,
.button:focus {
  background-color: #7cdda8;
  color: #fff;
}

.button:focus {
  outline: none;
  border-color: #44ce83;
}

.button.out {
  color: transparent;
}

.button span {
  -webkit-transition: color 140ms ease;
  -moz-transition: color 140ms ease;
  -ms-transition: color 140ms ease;
  -o-transition: color 140ms ease;
  transition: color 140ms ease;
  display: inline-block;
  padding: 1em 2.5em 1.15em;
  position: relative;
  text-align: center;
}

.button span:after {
  -webkit-animation: spin 400ms infinite normal cubic-bezier(0.445, 0.05, 0.55, 0.95) forwards 0s paused;
  -moz-animation: spin 400ms infinite normal cubic-bezier(0.445, 0.05, 0.55, 0.95) forwards 0s paused;
  animation: spin 400ms infinite normal cubic-bezier(0.445, 0.05, 0.55, 0.95) forwards 0s paused;
  -webkit-transition: opacity 200ms ease;
  -moz-transition: opacity 200ms ease;
  -ms-transition: opacity 200ms ease;
  -o-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: solid 2px #fff;
  border-top-color: transparent;
  left: 50%;
  opacity: 0;
  top: 50%;
  margin: -10px 0 0 -10px;
}

.button.loading {
  cursor: none;
  background-color: #bdbdbf;
}

.button.loading span {
  color: transparent;
}

.button.loading span:after {
  -webkit-animation-play-state: running;
  -moz-animation-play-state: running;
  animation-play-state: running;
  opacity: 1;
}

.button.loading:after,
.button:hover:after {
  opacity: 0;
}

.button.secondary {
  background-color: transparent;
  border: solid 1px #5CD493;
  color: #5CD493;
  font-size: 16px;
}

.button.secondary:hover {
  color: #fff;
  background-color: #5CD493;
}

.button.cap {
  width: 100%;
  border-radius: 0px 0px 3px 3px;
}

::-webkit-input-placeholder {
  color: #6E787F;
  line-height: 1;
}

:-moz-placeholder {
  color: #6E787F;
  line-height: 1;
}

::-moz-placeholder {
  color: #6E787F;
  line-height: 1;
}

:-ms-input-placeholder {
  color: #6E787F;
  line-height: 1;
}

input:focus::-webkit-input-placeholder {
  color: #283036;
}

input:focus:-moz-placeholder {
  color: #283036;
}

input:focus::-moz-placeholder {
  color: #283036;
}

input:focus:-ms-input-placeholder {
  color: #283036;
}

label[for="amount"] {
  -webkit-transition: background-color 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95), color 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  -moz-transition: background-color 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95), color 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  -ms-transition: background-color 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95), color 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  -o-transition: background-color 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95), color 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: background-color 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95), color 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  border-top: solid 1px #DEE2E5;
  border-bottom: solid 1px #DEE2E5;
  color: #6E787F;
  cursor: pointer;
  display: block;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  padding: 12px 14px;
  position: relative;
  margin-top: -11px;
  width: 100%;
  z-index: 1;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

@media (min-width: 720px) {
  label[for="amount"] {
    border: 1px solid #b5b5b5;
    border-radius: 3px;
  }
}

label[for="amount"] .input-label {
  -webkit-transition: opacity 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  -moz-transition: opacity 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  -ms-transition: opacity 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  -o-transition: opacity 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: opacity 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  color: #000;
  display: block;
  font-size: 12px;
  font-weight: 500;
  line-height: 1;
  margin-bottom: 4px;
}

label[for="amount"].has-focus {
  background-color: #f9f9f9;
  cursor: text;
  z-index: 2;
}

label[for="amount"].has-focus .input-wrapper:after {
  color: #393536;
}

label[for="amount"].has-focus .input-label {
  color: #000;
}

input {
  background-color: transparent;
  display: block;
  border: none;
  color: #000;
  cursor: pointer;
  font-size: 1.2rem;
  outline: none;
  line-height: 1;
  width: 100%;
}

.input-wrapper {
  position: relative;
}

.amount-wrapper input {
  -webkit-transition: transform 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), color 0.2s ease;
  -moz-transition: transform 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), color 0.2s ease;
  -ms-transition: transform 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), color 0.2s ease;
  -o-transition: transform 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), color 0.2s ease;
  transition: transform 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), color 0.2s ease;
  padding: 0 14px;
}

.amount-wrapper:after {
  -webkit-transition: opacity 0.2s ease;
  -moz-transition: opacity 0.2s ease;
  -ms-transition: opacity 0.2s ease;
  -o-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  content: "$";
  color: #393536;
  display: inline-block;
  line-height: 1;
  left: 0px;
  position: absolute;
  top: 50%;
}

header .fill {
  text-align: left;
}

header a,
.pseudoshop,
.braintree {
  display: inline-block;
  text-decoration: none;
  vertical-align: middle;
}

.pseudoshop,
.braintree {
  background-color: #fff;
  padding: 3px 8px;
  margin: 0 -8px;
}

.pseudoshop {
  -webkit-transition: color 160ms ease;
  -moz-transition: color 160ms ease;
  -ms-transition: color 160ms ease;
  -o-transition: color 160ms ease;
  transition: color 160ms ease;
  -webkit-box-ordinal-group: 2;
  -moz-box-ordinal-group: 2;
  box-ordinal-group: 2;
  -webkit-order: 2;
  -moz-order: 2;
  order: 2;
  -ms-flex-order: 2;
  color: #393536;
  font-family: "Open Sans regular", "Avenir", "Helvetica Neue", Helvetica, Sans-serif;
  text-align: left;
}

.pseudoshop strong {
  font-family: "Open Sans bold", "Avenir", "Helvetica Neue", Helvetica, Sans-serif;
}

@media (min-width: 641px) {
  .pseudoshop {
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    box-ordinal-group: 1;
    -webkit-order: 1;
    -moz-order: 1;
    order: 1;
    -ms-flex-order: 1;
  }
}

.pseudoshop:hover {
  color: #707073;
}

.braintree {
  -webkit-transition: opacity 160ms ease;
  -moz-transition: opacity 160ms ease;
  -ms-transition: opacity 160ms ease;
  -o-transition: opacity 160ms ease;
  transition: opacity 160ms ease;
  -webkit-box-ordinal-group: 1;
  -moz-box-ordinal-group: 1;
  box-ordinal-group: 1;
  -webkit-order: 1;
  -moz-order: 1;
  order: 1;
  -ms-flex-order: 1;
  color: #393536;
  font-size: 12px;
  font-family: "BT Mono bold", "Helvetica Neue", Helvetica, Sans-serif;
  opacity: .5;
}

header.main .braintree {
  display: none;
}

.dark .braintree {
  background-color: transparent;
  color: #fff;
  opacity: 1;
}

@media (min-width: 641px) {
  .braintree {
    -webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    box-ordinal-group: 2;
    -webkit-order: 2;
    -moz-order: 2;
    order: 2;
    -ms-flex-order: 2;
  }
  header.main .braintree {
    display: inline-block;
  }
}

.braintree:hover {
  opacity: 1;
}

.braintree.notification,
.braintree.active {
  color: #393536;
}

@media (min-width: 1025px) {
  .braintree.notification {
    -webkit-animation: pullLeftLarge 700ms 1 normal cubic-bezier(0.645, 0.045, 0.355, 1) both 1125ms;
    -moz-animation: pullLeftLarge 700ms 1 normal cubic-bezier(0.645, 0.045, 0.355, 1) both 1125ms;
    animation: pullLeftLarge 700ms 1 normal cubic-bezier(0.645, 0.045, 0.355, 1) both 1125ms;
  }
}

.braintree.dismiss {
  -webkit-animation: fadeOutRight 300ms 1 normal cubic-bezier(0.215, 0.61, 0.355, 1) both 0s;
  -moz-animation: fadeOutRight 300ms 1 normal cubic-bezier(0.215, 0.61, 0.355, 1) both 0s;
  animation: fadeOutRight 300ms 1 normal cubic-bezier(0.215, 0.61, 0.355, 1) both 0s;
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  animation-delay: 0s;
}

.notice-wrapper {
  font-family: "BT Mono medium", "Helvetica Neue", Helvetica, Sans-serif;
  text-align: center;
  width: 100%;
  overflow: hidden;
}

.notice {
  -webkit-transition: transform 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
  -moz-transition: transform 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
  -ms-transition: transform 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: transform 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: transform 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
  border-radius: 1px;
  background-color: #f6f6f6;
  color: #707073;
  padding: 15px;
  width: 100%;
}

.notice.error {
  background-color: #FF6161;
  color: #fff;
}

.notice.show {
  -webkit-transform: translateY(0%);
  -moz-transform: translateY(0%);
  -ms-transform: translateY(0%);
  -o-transform: translateY(0%);
  transform: translateY(0%);
}

table {
  width: 100%;
}

tr {
  border-top: solid 1px #DEE2E5;
}

tr:last-child {
  border-bottom: solid 1px #DEE2E5;
}

td {
  color: #393536;
  font-family: "BT Mono medium", "Helvetica Neue", Helvetica, Sans-serif;
  width: 60%;
  padding: .6em 0 .6em .6em;
}

.checkout {
  text-align: left;
}

.checkout section {
  margin: 0;
  padding: 0;
  
}

@media (min-width: 641px) {
  .checkout section {
    padding: 30px 0;
  }
}

@media (min-width: 1025px) {
  .checkout section {
    padding: 10px 0;
  }
}

.checkout.dismiss {
  -webkit-animation: fadeOutDown 250ms 1 normal cubic-bezier(0.215, 0.61, 0.355, 1) both 0s;
  -moz-animation: fadeOutDown 250ms 1 normal cubic-bezier(0.215, 0.61, 0.355, 1) both 0s;
  animation: fadeOutDown 250ms 1 normal cubic-bezier(0.215, 0.61, 0.355, 1) both 0s;
}

.checkout h1,
.checkout p,
.checkout section,
.checkout .button {
  animation: none;
}

.checkout h1 {
  -webkit-animation-delay: 200ms;
  -moz-animation-delay: 200ms;
  animation-delay: 200ms;
}

.checkout header p {
  -webkit-animation-delay: 300ms;
  -moz-animation-delay: 300ms;
  animation-delay: 300ms;
}

.checkout section {
  -webkit-animation-delay: 450ms;
  -moz-animation-delay: 450ms;
  animation-delay: 450ms;
  -webkit-animation-duration: 550ms;
  -moz-animation-duration: 550ms;
  animation-duration: 550ms;
}

.checkout .button {
  -webkit-animation-delay: 650ms;
  -moz-animation-delay: 650ms;
  animation-delay: 650ms;
  -webkit-animation-duration: 700ms;
  -moz-animation-duration: 700ms;
  animation-duration: 700ms;
}

.bt-drop-in-wrapper {
  min-height: 200px;
  position: relative;
  z-index: 1;
}

.bt-drop-in-placeholder {
  background-color: #f9f9f9;
  height: 187px;
  width: 100%;
  text-align: center;
  color: #707073;
  border: dashed 1px #DEE2E5;
  border-bottom: none;
  display: table;
}

.bt-drop-in-placeholder:before {
  content: "(Drop-in)";
  color: #707073;
  display: table-cell;
  vertical-align: middle;
}